@import '~destyle.css/';
@import '~@idix/flexi/src/flexi';
@import 'px2rem.scss';

// COLORS
$black: #000;
$themeColor: #7396FFb3;

// VARS
$baseFontSize: 16;

html {
  font-size: 16px;
  font-family: 'Georgia', serif;
  box-sizing: border-box;
}
// Utilities

.text-align-center {
  text-align: center;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.text-uppercase {
  text-transform: uppercase;
}


// BASIC
h1 {
  @include rem(font-size, 20px);
  @include rem(margin-bottom, 3px);
  @include rem(margin-bottom, 3px);
  padding-top: 0;
  font-weight: bold;
}

// Components

.navbar {
  background: $black;
  color: $themeColor;
  @include rem(padding, 14px 0);
  @include rem(font-size, 12px);
}

.navbar-item {
  padding-top: 0;
  padding-bottom: 0;
}

#main-content {
  background: $themeColor;
}

.site-title-container {
  @include rem(margin-bottom, 58px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.site-title {
  display: none;
}

.title-logo-container {
  flex: 100% 1 0;
  @include rem(font-size, 64px);
  @include rem(line-height, 85px);
  @include rem(margin, 10px 0 0);
}

.title-logo {
  width: 68%;
}

.logo-container {
  flex: auto 0 0;
  max-width: 66.6666666667%;
  text-align: end;
}

.logo {
  width: 70%;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  &.no-gutter {
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.date {
  @include rem(font-size, 12px);
  @include rem(margin-bottom, 14px);
  padding-top: 0;
  padding-bottom: 0;
}

.posts-list,
.single article {
  @include rem(padding-bottom, 60px);
}

.footer-about {
  @include rem(margin-top, 12px);
  @include rem(margin-bottom, 12px);

  b {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
  }
}

.footer-links {
  @include rem(margin-top, 12px);
  @include rem(margin-bottom, 12px);
}

.single {
  article {
    @include rem(padding-top, 20px);
  }

  h1 {
    @include rem(font-size, 24px);
  }

  .featured-image {
    @include rem(margin-bottom, 20px);
  }

  .post-content {
    p {
      @include rem(font-size, 16px);
      @include rem(line-height, 22px);
      @include rem(margin-bottom, 20px);
    }

    .wp-block-image {
      text-align: center;
      img {
        @include rem(margin, 0  0 10px);
      }
      figcaption {
        @include rem(font-size, 13px);
        @include rem(line-height, 17px);
        @extend .font-playfair;
        @include rem(margin, 0 20px 0);
      }
    }
  }
}

// CATEGORY
.category-title-container {
  @include rem(padding-top, 14px);
}

.category-title {
  @include rem(font-size, 48px);
}

// RESPONSIVE
@import 'tablet-portrait.scss';
@import 'tablet-landscape.scss';
@import 'laptop.scss';
